.container {
    width: 100%;
    header {
        //background-color: #256789;
        background-image: linear-gradient(to bottom right, green, yellow);
        color: #fff;
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto ;

        div.logo {
            display: grid;
            align-content: center;
        }

        nav.mainHeader {
            color: #333;
           ul.mainHeaderList {
            list-style-type: none;
            float: right;
            
            li.mainHeaderListItem {
                display: inline;
                padding: 10px;
            }
           }
        }
    }

}

@media only screen and (max-width: 400px) {
    .container{
        header {
            display: block;
                div.logo {
                    display: grid;
                    justify-content: center;
                }
        
                nav.mainHeader {
                    display: none;
                }
            }
    }
    
}